html,
body {
	margin: 0;
	padding: 0;
  background: grey;
  text-align: center;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

form {
  width: 30vw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(50vh - 390px);
  bottom: 0;
  left: 35vw;
  right: 35vw;
}

input, label {
  display:block;
}

input:not(.button) {
  text-align: center;
  font-size: 20px;
  width: 250px;
  height: 40px;
}

.button {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 250px;
  font-size: 25px; 
}

@media only screen and (max-height: 950px) {
  .submit {
    top: 85vh;
  }

  .gallery {
    top: 100vh;
  }
}

@media only screen and (min-height: 951px) {
  .submit {
    top: 570px;
  }

  .gallery {
    top: 720px;
  }
}

label {
  font-size: 30px;
}